@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color:#CB212E;
    --white:#FFFFFF;
    --black:#24272E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
	text-decoration: none;

}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight:400;
    line-height: 1.5;
}



.login-box {
	width: 280px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--primary-color);
}

.login-box h1 {
	width: 100%;
	font-size: 20px;
	margin-bottom: 50px;
	padding: 13px;
    text-transform: uppercase;
    background-color: #CB212E;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
}

.textbox {
	width: 100%;
	display: flex;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid var(--primary-color);
}

.fa {
	width: px;
	text-align: center;
	
}

.textbox input {
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	margin: 0 10px;
}

.button {
	
	padding: 8px;
	color: #ffffff;
	background: var(--primary-color);
	border: none;
	border-radius: 6px;
    padding: 10px;
	font-size: 18px;
	cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 65%;
    margin-top: 20px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 50px;

	grid-template-areas:
	  'header'
	  'main'
	  'footer';
	height: 100vh;
  }

  .header {
	grid-area: header;
	background-color: whitesmoke;
  }
  
  .aside {
	grid-area: aside;
	background-color: var(--primary-color);
  }

  .main {
	grid-area: main;
	background-color: white;
  }
  .footer {
	grid-area: footer;
	background-color: whitesmoke;
  }
  .pg-m{
	  background-color: whitesmoke;
	  padding-bottom: 10px;
	  padding-left: 20px;
  }
  .create-form {
	  padding-left: 25%;
	  padding-right: 25%;
	  padding-top: 40px;
	  padding-bottom: 10px;
  }
  .create-form input{
		margin-bottom: 20px;
  }
  .txtin {
	  padding: 10px;
  }
  .errorMsg {
	color: var(--primary-color);
	background-color: whitesmoke;
	padding: 10px 10px 10px 10px;
  }
  .datatable{
	  padding: 40px;
  }
  table {
	  text-align: center;
  }
  .msg{
	  color: green;
	  background-color: whitesmoke;
	  padding: 20px;
  }
 #output_image {
	 display: none;
 }
  /* flexing header and footer*/
  .header,
  .footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--primary-color);
	padding: 0 15px;
  }

  .pg-heading {
	padding: 20px 0 20px 0;
	color: #24272E;
  }
  .addnew {
	
	margin-left: 15px;
	margin-top: 10px;
  }
  .btn {
	padding: 10px 20px; 
	color: var(--white);
	border-radius: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 1px;
  }
  .action-btn {
	padding: 8px 8px; 
	color: var(--white);
	border-radius: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 1px;
  }

  .btn-prim {
	background-color:#3299CC;
  }

  .btn-danger {
	  background-color: var(--primary-color);
  }
  
  /* flexing aside */
  .aside {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 240px;
	position: fixed;
	overflow-y: auto;
	z-index: 2;
	transform: translateX(-245px);
  }

  .aside.active {
	transform: translateX(0);
  }

  .aside_list {
	padding: 0;
	margin-top: 85px;
	list-style-type: none;
  }

  .aside_list-item {
	padding: 20px 20px 20px 40px;
	
  }
  .aside_list-item a {
	  text-decoration: none;
	  color: #ddd;
  }
  .aside_list-item:hover {
	background-color: #3299CC;
	cursor: pointer;
  }

  /* Layout for main content overview  and its cards*/
  .main_overview {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid lightgreen;
  }
  .overview_card {
	flex-basis: 250px;
	flex-grow: 1;
	margin: 10px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	/* background-color: seagreen; */
	height: 100px;
	border: 1px solid darkblue;
	border-radius: 4px;
	color: darkblue;
  }
  /* Layout for main-cards section // below main_overview */
  .main_cards {
	margin: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 500px 200px 300px;
	grid-template-areas:
	  'card1'
	  'card2'
	  'card3';
	grid-gap: 10px;
  }
  .card {
	padding: 20px;
	border: 1px solid tomato;
	border-radius: 4px;
	color: tomato;
  }

  .card:first-child {
	grid-area: card1;
  }
  .card:nth-child(2) {
	grid-area: card2;
  }
  .card:nth-child(3) {
	grid-area: card3;
  }

  /* responsive layout */
  @media only screen and (min-width: 750px) {
	.grid-container {
	  display: grid;
	  grid-template-columns: 240px 1fr;
	  grid-template-rows: 50px 1fr 50px;
	  grid-template-areas:
		'aside header'
		'aside main'
		'aside footer';
	  height: 100vh;
	}

	.aside {
	  display: flex;
	  flex-direction: column;
	  position: relative;
	  transform: translateX(0);
	}

	.main_cards {
	  margin: 10px;
	  display: grid;
	  grid-template-columns: 2fr 1fr;
	  grid-template-rows: 200px 300px;
	  grid-template-areas:
		'card1 card2'
		'card1 card3';
	  grid-gap: 10px;
	}
  }

  .menu-icon {
	position: fixed;
	display: flex;
	top: 2px;
	left: 8px;
	align-items: center;
	justify-content: center;
	z-index: 1;
	cursor: pointer;
	padding: 12px;
	color: black;
  }

  .header_search {
	margin-left: 24px;
  }

  .aside_close-icon {
	position: absolute;
	visibility: visible;
	top: 20px;
	right: 20px;
	cursor: pointer;
  }
  .breadcrumb a {
	color: #24272E;
  }
  .breadcrumb a:hover {
		color:#3299CC;
  }
  .logout a {
	  color: var(--primary-color);
  }
  .logout a:hover{
	  color:#3299CC;
  }
  label{
	  font-size: 18px;
	  font-weight: bold;
	  letter-spacing: 1px;
  }
  @media only screen and (min-width: 750px) {
	.aside_close-icon {
	  display: none;
	}
  }

  /* Gallery */

  .container {
    max-width: 1100px;
    margin: auto;
	padding-bottom: 20px;
}

  .gl-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    
    
  }
  
  .gl-img {
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    height: 100%;
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
    width: 100%;
  }
  .gl-img:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
	opacity: 0.3;
  }

  
  .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
  .content {
	  position: relative;
  }
 
  
  .content:hover .middle {
	opacity: 1;
  }
  .dbtn:hover .gl-img{
	  opacity:0.3;
  }
  .center {
	text-align: center;
  }
  .pg-head{
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 20px;
  }
  
  .pagination {
	display: inline-block;
  }
  
  .pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid var(--black);
	margin: 0 4px;
  }
  
  .pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color:#3299CC ;
color: var(--white);}