<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>TestDb</display-name>
    <servlet-name>TestDb</servlet-name>
    <servlet-class>emc.test.db.TestDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDb</servlet-name>
    <url-pattern>/TestDb</url-pattern>
  </servlet-mapping>
  <display-name>emc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QuestionControllerServlet</display-name>
    <servlet-name>QuestionControllerServlet</servlet-name>
    <servlet-class>app.emc.controller.QuestionControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionControllerServlet</servlet-name>
    <url-pattern>/admin/questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateControllerServlet</display-name>
    <servlet-name>CandidateControllerServlet</servlet-name>
    <servlet-class>app.emc.controller.CandidateControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateControllerServlet</servlet-name>
    <url-pattern>/admin/candidates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demoServlet</display-name>
    <servlet-name>demoServlet</servlet-name>
    <servlet-class>app.emc.controller.demoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoServlet</servlet-name>
    <url-pattern>/demoServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UserLoginControllerServlet</display-name>
    <servlet-name>UserLoginControllerServlet</servlet-name>
    <servlet-class>app.emc.controller.UserLoginControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginControllerServlet</servlet-name>
    <url-pattern>/UserLoginControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginControllerServlet</display-name>
    <servlet-name>AdminLoginControllerServlet</servlet-name>
    <servlet-class>app.emc.controller.AdminLoginControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginControllerServlet</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  
</web-app>